{{#get "posts" filter="featured:false" limit="4" as |highlighted|}}

<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>From our blog</h2>
            </div>

            <p class="lead">{{@blog.description}} <a href="#"><span class="accent">Check our blog!</span></a></p>

            <div class="row">
                {{#foreach highlighted}}
                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image">
                                    <img src="{{image}}" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="{{url}}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <h4><a href="{{url}}">{{title}}</a></h4>
                                <p class="author-category">By <a href="{{author.url}}">{{author.name}}</a>{{tags prefix=" in "}}</p>

                                <p class="intro">{{excerpt words="26"}}</p>
                                <p class="read-more"><a href="{{url}}" class="btn btn-template-main">Continue reading</a>
                                </p>
                            </div>
                        </div>
                    </div>                
                {{/foreach}}
            </div>

            <div class="row">
                <div class="col-md-3">
                    <p class="read-more"><a href="/page/1" class="btn btn-template-main">View All Posts</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{pagination}}
                </div>
            </div>
        </div>
    </div>
</section>

{{/get}}
