<!--<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    {{#if @labs.subscribers}}
        <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
    {{else}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    {{/if}}
</div>
<span class="nav-cover"></span>-->


<div class="navbar-collapse collapse" id="navigation">

    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown"><a href="#" class="dropdown-toggle">Hello <b class="caret2"></b></a></li>

        <li class="dropdown active"><a href="{{@blog.url}}" class="dropdown-toggle">Blog <b class="caret2"></b></a></li>
    
    </ul>
</div>